* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;

  }
img {
  width: 15%;

}
  .logo {
    width: 5%;
  }
  a {
    text-decoration: none;
    color: black
  }
  a:hover { 
    color: orange; 
    }
  section {
    background-color: rgb(242, 239, 239);
   padding: 5px;
  }
  .left {
    float: left;
   margin-right: 20px;
  }
 a href {
  padding: 20px;

 }
li {
  display: inline;
  padding: 0;
}
.without  {
  padding-left: 0;
}
li::before {
  content: ⏩️;
}