* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
    margin: 20px;
  }
img {
  width: 15%;
  margin: 0;
padding: 0;
}
  .logo {
    width: 5%;
  }
  a, ul {
    text-decoration: none;
    color: black
  }
  a:hover { 
    color: orange; 
    }

  a:visited {
    color: grey
  }

   section {
   padding-left: 0px;
  }
  .left {
    float: left;
   margin-right: 20px;
  }
 a href {
  padding: 20px;
 }
.menu  {
  display: flex;
  padding-left: 0;
  font-size: 18px;
  justify-content: left;
  flex-wrap: wrap;
  text-decoration: none;
  gap: 40px;
}

ul {
list-style-type: none;
padding: 0;
}
figure {
margin: 0;
}
.about {
margin-top: 30px;
}
.biography {
}