* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
    margin: 20px;
  }
img {
  width: 20%;
  margin-left: 0;
  margin-bottom: 10px;
  border-radius: 5px;
}
  .logo {
    width: 5%;
  }
  a, ul {
    text-decoration: none;
    color: black
  }
  a:hover { 
    color: orange; 
    }
  a:visited {
    color: grey
  }
   section {
   padding-left: 0px;
  }
  .left {
    float: left;
   margin-right: 20px;
  }
 a href {
  padding: 20px;
 }
.menu  {
  display: flex;
  padding-left: 0;
  font-size: 18px;
  justify-content: left;
  flex-wrap: wrap;
  text-decoration: none;
  gap: 40px;
}
ul {
list-style-type: none;
padding: 0;
}
figure {
margin: 0;
}
.about {
margin-top: 30px;
}
.button {
  position: fixed;
  right: 25px;
  bottom: 20px;
  appearance: none;
  border: none;
  background: rgba(255, 166, 0, 0.879);
  padding: 10px;
  border-radius: 5px;
}
.button__link {
  color: rgb(117, 116, 116);
  text-decoration: none;
}